API/src/E-BangApi/*.json
API/src/E-BangApi/Properties
API/src/E-BangApi/bin
API/src/E-BangApplication/bin
API/src/E-BangInfrastructure/bin
API/src/E-BangDomain/bin
API/src/E-BangApi/obj
API/src/E-BangApplication/obj
API/src/E-BangInfrastructure/obj
API/src/E-BangDomain/obj
API/src/.vs
Backend/Services/E-BangAzureWorker/bin
Backend/Services/E-BangAzureWorker/obj
Backend/Services/E-BangAzureWorker/Properties
Backend/Services/E-BangEmailWorker/bin
Backend/Services/E-BangEmailWorker/obj
Backend/Services/E-BangEmailWorker/Properties
Backend/Services/.vs
Backend/Services/BangEmailWorker/.vs
Backend/Services/BangAzureWorker/.vs
Backend/Services/BangNotificationWorker/.vs
Backend/Services/E-BangNotificationWorker/bin
Backend/Services/E-BangNotificationWorker/obj
Backend/Services/E-BangNotificationWorker/Properties
Shared/.vs
Shared/E-BangAppEmailBuilder/bin
Shared/E-BangAppEmailBuilder/obj
Shared/E-BangAppHelpersUnitTests/bin
Shared/E-BangAppHelpersUnitTests/obj


